*{
    margin: 0px auto;
    padding: 0px;
}
article, aside, figure, footer, header, hgroup,
menu, nav, section { display: block; }
body{
    background: #ccccff;
}
.wrap{
    width: 800px;
    margin: 0 auto;
}
header{
    background: #6666ff;
    border-bottom: 1px solid #6666ff;
    line-height: 40px;
}
header h2{
    text-align: center;
    color: #ffffff ;
    word-wrap: 1px;
    text-shadow:1px 1px 2px red;
}
.wrap1{
    background: #999999;
    margin: 0 auto;
    padding-top: 20px;
    padding-left:30px;
    overflow: hidden;
  
}
.gallery{
    width: 700px;
    margin: 0 auto;
}
.gallery ul{
    list-style: none;
}

.gallery li{
    float: left;
    margin: 10px;
}
.gallery img{
   display: block;
   padding: 5px;
   background-color: #f41010;
   border: 2px solid #f41010;
}

.gallery img:hover{
    border: 2px solid #ffffff;
}
footer{
  background: #6666ff;
  line-height: 50px;
}
p{
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}



